<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="example-full-width">
      <input [ngClass]="{'error':isValid('firstName')}"
             placeholder="First Name" formControlName="firstName">
    </div>
    <div class="example-full-width">
      <input [ngClass]="{'error':isValid('lastName')}" placeholder="Last Name" formControlName="lastName">
    </div>
    <div class="example-full-width">
      <input [ngClass]="{'error':isValid('email')}" placeholder="Email" type="email" formControlName="email">
    </div>
    <div class="example-full-width">
      <input [ngClass]="{'error':isValid('password')}" placeholder="Password" type="password"
             formControlName="password">
    </div>
    <div class="example-full-width">
      <input [ngClass]="{'error':isValid('confirmPassword')}" placeholder="Confirm Password" type="password"
             formControlName="confirmPassword">
      <span *ngIf="form.errors?.misMatch">Password is not match</span>
    </div>
    <div class="example-full-width">
      <button color="primary">Register</button>
    </div>
  </form>
</mat-card>
